@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --white: #fff;
  --black: #000;
  --bg: #151515;
}

* {
  box-sizing: border-box;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
}

.navbar {
  width: 100%;
  height: 5rem;
  background-color: var(--black);
}

.navbar-container {
  display: flex;
  align-items: center;
  /* background-color: var(--white); */
  padding: 0 5rem;
  height: 100%;
}

.logo-container {
  flex: 1;
}

.logo {
  height: 5rem;
  width: auto;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
  color: var(--white);
}

.menu-list-item {
  margin-right: 3rem;
}

.menu-list-item.active {
  font-weight: bold;
}

.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  color: var(--white);
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 2rem;
}

.toggle {
  width: 4rem;
  height: 2rem;
  background-color: var(--white);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  width: 1.8rem;
  height: 1.8rem;
  background-color: var(--black);
  position: absolute;
  right: 0.1rem;
  border-radius: 50%;
  cursor: pointer;
}

.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.sidebar {
  width: 5rem;
  height: 100%;
  background-color: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
}

.left-menu-icon {
  color: var(--white);
  font-size: 2rem;
  margin-bottom: 4rem;
}

.container {
  background-color: var(--bg);
  min-height: calc(100vh - 5rem);
  color: var(--white);
}

.content-container {
  margin-left: 5rem;
}

.featured-content {
  height: 50vh;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.featured-title {
  font-size: 4rem;
}

.featured-desc {
  width: 45rem;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--black);
  border: none;
  outline: none;
  padding: 0.5rem 2.5rem;
  border-radius: 1rem;
  margin-right: 1rem;
}

.featured-btn {
  background-color: var(--white);
}

.featured-btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.unfocused-btn {
  background-color: rgba(100, 95, 95, 0.6);
  color: var(--white);
}

.unfocused-btn:hover {
  background-color: rgba(100, 95, 95, 0.3);
}

.icon-btn {
  padding-right: 1rem;
}

.movie-list-container {
  padding: 2rem;
}

.movie-list-wrapper {
  position: relative;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 30rem;
}

.movie-list-item {
  margin-right: 3rem;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 3rem;
  opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-btn {
  opacity: 1;
}

.movie-list-item-img {
  transition: all 0.5s ease-in-out;
  width: 30rem;
  height: 20rem;
  object-fit: cover;
}

.movie-list-item-title {
  background-color: var(--bg);
  padding: 0 1rem;
  font-size: 3.2rem;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 5rem;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.movie-list-item-desc {
  background-color: var(--bg);
  padding: 1rem;
  font-size: 1.4rem;
  position: absolute;
  top: 35%;
  left: 5rem;
  width: 23rem;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.movie-list-item-btn {
  padding: 0.5rem 1rem;
  background-color: var(--white);
  border-radius: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 1rem;
  left: 5rem;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.arrow {
  font-size: 12rem;
  position: absolute;
  top: 9rem;
  right: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}
